listen: ":587"
hostname: "mail.dstat.coffee"
password: "change-me"
queue_dir: "/var/spool/mailrelay"
workers: 5
retry_max: 10

servers:
  - "198.46.199.132"
  - "77.90.185.102"
  - "213.177.179.55"

domains:
  - domain: "dstat.coffee"
    dkim_key: "/etc/mail-relay/dkim/dstat.coffee.pem"
    selector: "mail"

tls_cert: ""
tls_key: ""
